<template>
	<div>
		<a href="#" class="pull-right" style="margin-right:25px;margin-top:10px;">
			<ul class="list-inline">
				<li class="list-inline-item" style="color:white;font-family:Arial,sans-serif;font-size:15px;margin-right:10px;" data-toggle="modal" data-target="#modalRegisterForm">Sign In</li>
				<li class="list-inline-item" style="border:2px solid grey;border-radius:5px;padding:10px;color:white;font-family:Arial,sans-serif;font-size:15px;"><a href="#getstarted" style="text-decoration: none !important; color: white;">Get Started</a></li>
			</ul>
		</a>
		<!-- jumbotron -->
		<div class="jumbotron" style="background-image:url('/img/screen.jpg');height:700px; padding: 48px 0px 48px 0px;">
			<div style="padding-top:10px;margin-top:50px;margin-left:50px;width:600px;height:500px;background-color:#506380;">
				<p style="font-size:100px;color:beige;font-family:'Belleza',sans-serif;padding-left:40px;">Question Based Learning</p>
			</div>
			<div style="background-color:#F48024;width:700px;height:200px;" class="pull-right"></div>
		</div>
		<!-- end of jumbotron -->
		<!-- About -->
		<div class="container" style="margin-top:150px;">
			<h1 style="font-size:50px;font-style:italic;">Question Based Learning</h1>
			<hr style="background-color:#506380;height:5px;">
			<p style="font-family:'Belleza',Arial;font-size:23px;text-align:justify;">A form of active learning that starts by posing questions, problems or scenarios. Question-based learning includes problem-based learning, and is generally used in small scale investigations and projects, as well as research. The question-based instruction is principally very closely related to the development and practice of thinking and problem solving skills.</p>
		</div>
		<!-- end of About -->
		<!-- Features -->
		<div class="container" style="margin-top:100px;">
			<h1 style="font-size:50px;font-style:italic;" class="text-center">Features</h1>
			<hr style="background-color:#F48024;height:3px;width:500px">
			<div class="row">
				<div class="col-sm-4 text-center">
					<img src="/img/questionwriter.png" alt="questionwriter" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Question Writer</p>
				</div>
				<div class="col-sm-4 text-center">
					<img src="/img/questionbank.png" alt="questionbank" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Question Bank</p>
				</div>
				<div class="col-sm-4 text-center">
					<img src="/img/exammanagement.png" alt="exammanagement" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Exam Management</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 text-center">
					<img src="/img/analysissystem.png" alt="analysissystem" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Analysis System</p>
				</div>
				<div class="col-sm-4 text-center">
					<img src="/img/scoringsystem.png" alt="scoringsystem" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Scoring System</p>
				</div>
				<div class="col-sm-4 text-center">
					<img src="/img/onlineexam.png" alt="onlineexam" class="imgfeature">
					<br>
					<p style="font-family:'Belleza',Arial;font-size:30px">Online Exam</p>
				</div>
			</div>
		</div>
		<!-- end of Features -->
		<!-- Sign Up -->
		<div class="container" style="margin-top:150px;margin-bottom:20px;">
			<div class="row">
				<div class="col-lg-6 text-center" style="background-color:#506380; padding:20px 100px;">
					<h1 id="getstarted" style="font-style:italic;color:white;font-size:50px;">Get Started</h1>
					<hr width=300>
					<!-- Form Registration -->
					<form class="text-center">
						<!-- radio button -->
						<div style="padding:20px;">
							<input type="radio" id="teacher" value="teacher" name="optradio" v-model="regis_role">
							<label for="teacher" class="radio-inline" style="width:100px;padding:0px;color:white;font-size:20px;font-family:'Belleza',Arial;">Teacher
							</label>
							<input type="radio" id="student" value="student" name="optradio" v-model="regis_role">
							<label for="student" class="radio-inline" style="width:100px;padding:0px;color:white;font-size:20px;font-family:'Belleza',Arial;">Student
							</label>
						</div>
						<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Address" v-model="regis_email">
						<input type="username" class="form-control" placeholder="Username" v-model="regis_username">
						<input type="password" class="form-control" placeholder="Password" v-model="regis_password">
						<button type="submit" class="btn" style="background-color:#F48024;margin-top:15px;padding:7px;font-size:20px;font-family:'Belleza',Arial;color:white;" v-on:click="register($event)">Sign Up</button>
					</form>
					<br>
					<p style="color:white;font-size:20px;font-family:'Belleza',Arial;" class="text-center">Already have an account? <a href="#" data-toggle="modal" data-target="#modalRegisterForm"><span style="color:#F48024;font-size:20px;font-family:'Belleza',Arial;">Sign In</span></a></p>
				</div>
				<div class="col-lg-6" style="padding-top:40px;">
					<img src="/img/screen2.jpg" alt="computer" style="width:100%;height:500px;">
				</div>
			</div>
		</div>
		<!-- end of Sign Up -->

		<!-- footer -->
		<footer class="main-footer" style="margin:0px;">
			<div class="pull-right">
				<b>Version</b> 1.06
			</div>
			<strong>Copyright &copy; 2020 BBRB.</strong> All rights
			reserved.
		</footer>

		<!-- Modal Login Form -->
		<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center" style="background-color:#506380;">
						<h4 class="modal-title text-center" style="font-family:'Belleza',Arial;color:beige;">Sign in
						</h4>
						<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="margin:10px 85px;">
						<div class="md-form my-5">
							<input type="text" id="orangeForm-name" class="form-control validate " placeholder="Username" style="width: 100%;" v-model="username">
						</div>

						<div class="md-form mb-4 ">
							<input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Password" style="width: 100%;" v-model="password">
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-center">
						<button class="btn" style="font-family:'Belleza',Arial;background-color:#F48024;color:white;" v-on:click="login($event)">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import gql from 'graphql-tag';

	export default {
		name : "Login",
		data() {
			return {
				username : '',
				password : '',
				regis_username : '',
				regis_password : '',
				regis_email : '',
				regis_role : ''
			}
		},
		methods : {
			login : function (event) {
				event.preventDefault();
				this.$apollo.query({
					query: gql`query login($form:LoginForm){
	  					userLogin(form:$form )
					}`,
					variables: {
						form : {
							username : this.username,
							password : this.password
						}
					}
				}).then((result) => {
					let token = result.data.userLogin;
					if(token == "false"){
						alert("invalid username and password");
					} else {
						localStorage.setItem("auth", token);
						window.location.replace('/');
					}
				}).catch((err) => {
					console.log(err);
				});
			},
			register : function (event) {
				event.preventDefault();
				if(!this.regis_username || !this.regis_password || !this.regis_email || !this.regis_role) {
					alert('all forms must be filled');
				} else {
					this.$apollo.mutate({
						mutation: gql`mutation register($form:UserForm){
							userRegister(form:$form){
								id
							}
						}`,
						variables : {
							form : {
										username : this.regis_username,
										password : this.regis_password,
										email : this.regis_email,
										role : this.regis_role
									}
						}
					}).then((res) => {
						if(!res.data.userRegister.id){
							alert('register failed');
						} else {
							alert('register succeed');
						}
					}).catch((error) => {
						console.log(error);
						alert('register failed');
					})
				}
			}
		}
	};
</script>

<style>
	.imgfeature {
        width:200px;
        height:200px;
    }
    .col-sm-4 {
        padding:10px 50px;
    }
    .col-sm-6 {
        padding-left:0px;
    }
    .form-control {
        width:400px;
        height:40px;
        border-radius:7px;
        margin-top:10px;
    }
</style>
