<template>
	<div id="app" class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<va-navbar></va-navbar>
			<!-- Left side column. contains the sidebar -->
			<va-slider :slideMenuItems="slideMenuItems"></va-slider>

			<div class="content-wrapper">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>

<script>
import navbar from '../components/navbar';
import sidebar from '../components/sidebar';
import slideMenuItems from '../lib/slideMenuItems.js';

export default {
	name: "Main",
	data () {
		return {
			slideMenuItems: slideMenuItems
		}
	},
	components: {
		'va-slider': sidebar,
		'va-navbar' : navbar
	}
}
</script>

