<template>
	<div>
		<div class="text-center">
			<p style="font-family:'Belleza',Charcoal,sans-serif; font-size:35px;color:black;padding-top:50px;"><img src="http://qblearning.id/dist/img/questionbank.png" width="100" height="100" alt="logo question bank">Question Bank</p><br>
			<form>
				<div class="container">
					<div class="form-inline row">
						<div class="col">
							<input type="text" class="form-control" placeholder="Search Subject" style="font-family:'Belleza',Charcoal;font-size:15px; margin: 5px 10px;" v-model="id_subject">
							<input type="number" class="form-control" placeholder="Search Topic" style="font-family:'Belleza',Charcoal;font-size:15px; margin: 5px 10px;" v-model="id_topic">
							<input type="number" class="form-control" placeholder="Search Subtopic" style="font-family:'Belleza',Charcoal;font-size:15px; margin: 5px 10px;" v-model="id_subtopic">
							<input type="number" class="form-control" placeholder="Search Teacher" style="font-family:'Belleza',Charcoal;font-size:15px; margin: 5px 10px;" v-model="id_teacher">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="submit" class="btn" style="background-color:#506380;margin:20px 0px;font-family:'Belleza',Charcoal;color:beige;font-size:20px; min-width: 200px;" v-on:click.prevent="filterClick">Filter</button>
						</div>
					</div>
				</div>
			</form>
			<!--- info --->
			<h4 v-if="questionRead.length != 0">Found {{questionRead.length}} questions</h4>
			<!--- Card Question --->			
			<div v-for="question in questionRead" class="card" v-bind:key="question.id">
				<div class="container2">
					<div class="row">
						<div class="col-sm-4 card-sub">Id</div>
						<div class="col-sm-8 card-text">{{question.id ? question.id:""}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 card-sub">Teacher</div>
						<div class="col-sm-8 card-text">{{question.teacher ? question.teacher.id+' - '+question.teacher.teacher_name :"" }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 card-sub">Subject</div>
						<div class="col-sm-8 card-text">{{question.subject ? question.subject.id_subject+' - '+question.subject.subject_name : "" }}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 card-sub">Topic</div>
						<div class="col-sm-8 card-text">{{question.topic ? question.topic.id_topic+' - '+question.topic.topic_name :""}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 card-sub">Subtopic</div>
						<div class="col-sm-8 card-text">{{question.subtopic.id ? question.subtopic.id+' - '+question.subtopic.subtopic_name:""}}</div>
					</div>
					<div class="row">
						<div class="col-sm-4 card-sub">Question Type</div>
						<div class="col-sm-8 card-text">{{question.question_type}}</div>
					</div>
					<div class="row">
						<button class="btn btn-success pull-right" style="margin-top:10px;font-family:'Belleza',Charcoal;color:beige;font-size:15px; min-width: 100px;" data-toggle="modal" :data-target="'#modal'+question.id">Detail</button>
					</div>
					<!-- Modal Detail Question -->
					<div :id="'modal'+question.id" class="modal fade" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title">Question</h3>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-4 card-sub">Id</div>
										<div class="col-sm-8 card-text">{{question.id ? question.id:"null"}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Teacher</div>
										<div class="col-sm-8 card-text">{{question.teacher ? question.teacher.id+' - '+question.teacher.teacher_name :'null' }}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Subject</div>
										<div class="col-sm-8 card-text">{{question.subject ? question.subject.id_subject+' - '+question.subject.subject_name : 'null' }}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Topic</div>
										<div class="col-sm-8 card-text">{{question.topic ? question.topic.id_topic+' - '+question.topic.topic_name :'null'}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Subtopic</div>
										<div class="col-sm-8 card-text">{{question.subtopic.id ? question.subtopic.id+' - '+question.subtopic.subtopic_name:'null'}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Question Type</div>
										<div class="col-sm-8 card-text">{{question.question_type}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Question Scenario</div>
										<div class="col-sm-8 card-text">{{question.question_scenario}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Question Text</div>
										<div class="col-sm-8 card-text">{{question.question_text}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer A</div>
										<div class="col-sm-8 card-text">{{question.answer_a}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer B</div>
										<div class="col-sm-8 card-text">{{question.answer_b}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer C</div>
										<div class="col-sm-8 card-text">{{question.answer_c}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer D</div>
										<div class="col-sm-8 card-text">{{question.answer_d}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer E</div>
										<div class="col-sm-8 card-text">{{question.answer_e}}</div>
									</div>
									<div class="row">
										<div class="col-sm-4 card-sub">Answer Key</div>
										<div class="col-sm-8 card-text">{{question.answer_key}}</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-warning" data-dismiss="modal">
										<router-link :to="{ name: 'qupdate', params: { id: question.id}}" style="color: white;">Update</router-link>
									</button>
									<button class="btn btn-danger" data-toggle="modal" :data-target="'#modal-del'+question.id">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<!--- end of modal detil question -->
					<!-- Modal Delete Confirm -->
					<div :id="'modal-del'+question.id" class="modal fade" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title">Question</h3>
								</div>
								<div class="modal-body">
									<h4>Are you sure want to delete question id {{question.id}}</h4>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click.prevent="deleteQuestion(question.id)">Yes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---End of Card-->
		</div>
	</div>
</template>

<script>
	import gql from 'graphql-tag';

	export default {
		name: "Qbank",
		data() {
			return {
				id_topic: '',
				id_subtopic: '',
				id_subject: '',
				id_teacher: '',
				questionRead : []
			}
		},
		methods: {
			filterClick: function() {
				let form = {
					id_topic: this.id_topic,
					id_subtopic: this.id_subtopic,
					id_subject: this.id_subject,
					id_teacher: this.id_teacher
				}
				for (let prop in form) { 
					if (form[prop] == '') {
						delete form[prop]; 
					} else {
						if(prop !== 'id_subject'){
							form[prop] = parseInt(form[prop])
						}
					} 
				}
				this.filter(form)
				this.questionRead = []; 
				console.log(form);
			},
			filter: function(formFilter) {
				this.$apollo.query({
					query: gql`query readQuestion($form: QuestionQuery){
						questionRead(form:$form){
						    id
						    teacher {
						    	id
						    	teacher_name
						    }
						    subject {
						    	id_subject
						    	subject_name
						    }
						    topic {
						    	id_topic
						    	topic_name
						    }
						    subtopic {
						    	id
						    	subtopic_name
						    }
						    question_type
						    question_scenario
						    question_text
						    answer_a
						    answer_b
						    answer_c
						    answer_d
						    answer_e
						    answer_key
					  }
					}`,
					variables : {
						form : formFilter
					}
				}).then((result) => {
					console.log(result);
					this.questionRead = result.data.questionRead;
				}).catch((err) => {
					console.log(err);
				});
			},
			deleteQuestion: function(id_question) {
				console.log(id_question);
				this.$apollo.mutate({
					mutation: gql`mutation deleteQuestion($id: Int!){
						questionDelete(id:$id)
					}`,
					variables: {
						id : id_question
					}
				}).then((result) => {
					if(result){
						alert(`question id ${id_question} has been deleted`);
					}else {
						alert(`question not found`);
					}
				}).catch((err) => {
					console.log(err);
				});
			}
		}
	};
</script>

<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		background-color: white;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px;
	}

	.card-sub {
		font-weight: 600;
		text-align: left;
		padding: 5px 15px;
	}

	.card-text {
		text-align: left;
		padding: 5px 15px;
	}

	.modal-content>.modal-body {
		padding: 10px 40px;
	}

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {
		.card {
			width: 90%;
		}
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {
		.card {
			width: 80%;
		}
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {
		.card {
			width: 60%;
		}
	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {
		.card {
			width: 60%;
		}
	}

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {
		.card {
			width: 60%;
		}
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.container2 {
		padding: 2px 16px;
	}
</style>
