<template>
	<div>
		<!-- IDENTITAS SOAL -->
		<div class="box">
			<div class="box-header text-center ">
				<p style="font-family:'Belleza',Charcoal,sans-serif; font-size:35px;color:#F48024;">
					<img src="/img/questionwriter.png" width="100" height="100" alt="logo question bank"><b>Question Writer</b>
				</p>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<form role="form row" class="row">
					<div class="col-lg-6">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">No. Record</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="Enter ..." disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Tgl. Entry</label>
							<!-- <input type="text" class="form-control" placeholder="Enter ..."> -->
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="Enter ..." disabled>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode M.A./Soal</label>
							<div class="col-sm-8">
								<select class="form-control" name="kode_mata_ajar" v-model="id_subject" @change="selectedSubject">
									<option v-for="option in subjectRead" v-bind:value="option.id_subject" v-bind:key="option.id_subject">
										{{	option.id_subject }} - {{ option.subject_name }}
									</option>
                        <!-- <option>ETK101 - Etika Kedokteran</option>
                        <option>BIA102 - Ilmu Anatomi Kedokteran</option>
                        <option>BIH101 - Histologi Kedokteran</option>
                        <option>BID204 - Biologi Kedokteran</option>
                        <option>BIF201 - Ilmu Faal Kedokteran</option>
                        <option>KDK217 - Patologi Klinik</option>
                        <option>FAT209 - Farmakologi dan Terapi</option> -->
                    </select>
							</div>
						</div>
						<div class="form-group row">
							<label for="exampleFormControlSelect1" class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode Tipe Soal</label>
							<div class="col-sm-8">
								<select class="form-control" id="id_question_type" v-model="question_type">
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group row">
							<label for="exampleFormControlSelect2" class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode Dosen</label>
							<div class="col-sm-8">
								<select class="form-control" v-model="id_teacher">
									<option v-for="option in teacherRead" v-bind:value="option.id" v-bind:key="option.id">
										{{	option.id }} - {{	option.teacher_nip	}} - {{ option.teacher_name }}
									</option>
									<!-- <option>106 - 196211211989032003 - PATRICIA MARIA KURNIAWATI, dr., Sp.KFR.</option>
                  <option>114 - 198301252015041001 - MAHENDRA TRI ARIF SAMPURNA, dr.SpA</option>
                  <option>118 - 198411202015041001 - MANGGALA PASCA WARDHANA, dr., Sp.OG.</option>
                  <option>132 - 195911151988032002 - Dr. MARIJAM PURWANTA, Dra., M.Sc., Apt.</option>
                  <option>314 - 195002171978031002 - Prof. SOETJIPTO, dr., M.S., Ph.D.</option>
                  <option>323 - 195010031977032001 - Prof. Dr. NANCY MARGARITA REHATTA, dr.SpAn.KIC.KNA</option>
                  <option>334 - 195201021979031003 - Prof.Dr.H. TRIJONO KARMAWAN SUKANA PRIJA, dr.,Sp.Rad(K)</option> -->
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="exampleFormControlSelect3" class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode Skenario</label>
							<div class="col-sm-8">
								<select class="form-control" disabled>
									<option>1</option>
									<option>2</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="exampleFormControlSelect4" class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode Topik M.A.</label>
							<div class="col-sm-8">
								<select :disabled="!id_subject" class="form-control" v-model="id_topic" @change="selectedTopic">
									<option v-for="option in tableTopic" v-bind:value="option.id_topic" v-bind:key="option.id_topic">
										{{	option.id_topic }} - {{ option.topic_name }}
									</option>
									<!-- <option>101 - Osteologi Extremitas Inferior</option>
                  <option>102 - Regio femoralis anterior</option>
                  <option>103 - Regio glutealis</option>
                  <option>104 - Regio femoralis posterior</option>
                  <option>105 - Regio cruralis</option>
                  <option>106 - Regio pedis</option>
                  <option>107 - Articulationes Extremitas Inferioris</option> -->
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="exampleFormControlSelect5" class="col-sm-4 col-form-label" style="font-family: 'Belleza', Helvetica, sans-serif;font-size:20px;color:black;">Kode S. Topik M.A.</label>
							<div class="col-sm-8">
								<select :disabled="!id_topic" class="form-control" v-model="id_subtopic">
									<option v-for="option in tableSubtopic" v-bind:value="option.id" v-bind:key="option.id">
										{{	option.id }} - {{ option.subtopic_name }}
									</option>
									<!-- <option>1 - Cingulum extremitas inferior</option>
                  <option>2 - Femur</option>
                  <option>3 - Tibia dan fibula</option>
                  <option>4 - Ossa tarsalia</option>
									<option>5 - Ossa metatarsalia</option>
									<option>6 - Phalanges</option>
									<option>7 - Ossa sesamoidea</option> -->
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- AREA UNTUK MENULIS SOAL -->
		<div class="row">
			<!-- text editor untuk skenario -->
			<div class="col-sm-6">
				<div class="box">
					<div class="box-header">
						<p style="font-family:'Belleza',Charcoal,sans-serif; font-size:25px;" class="text-center">Skenario</p>
					</div>
					<!-- /.box-header -->
					<div class="box-body pad">
						<form>
							<textarea class="textarea" placeholder="Place some text here" v-model="question_scenario"
								style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</form>
					</div>
				</div>
			</div>
			<!-- text editor untuk batang soal -->
			<div class="col-sm-6">
				<div class="box">
					<div class="box-header">
						<p style="font-family:'Belleza',Charcoal,sans-serif; font-size:25px;" class="text-center">Batang Soal</p>
					</div>
					<!-- /.box-header -->
					<div class="box-body pad">
						<form>
							<textarea class="textarea" placeholder="Place some text here" v-model="question_text"
								style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Pilihan dan Kunci Jawaban -->
		<div class="container">
			<div class="text-center">
				<p style="font-family:'Belleza',Charcoal,sans-serif; font-size:25px;color:#052049;">Pilihan Jawaban</p><br>
			</div>
			<div class="form-group row">
				<label for="answer1" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">A</label>
				<div class="col-sm-11">
					<textarea name="A" class="form-control" v-model="answer_a" rows="2" style="overflow-y:scroll;" placeholder="Jawaban A"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="answer2" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">B</label>
				<div class="col-sm-11">
					<textarea name="B" class="form-control" v-model="answer_b" rows="2" style="overflow-y:scroll;" placeholder="Jawaban B"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="answer3" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">C</label>
				<div class="col-sm-11">
					<textarea name="C" class="form-control" v-model="answer_c" rows="2" style="overflow-y:scroll;" placeholder="Jawaban C"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="answer4" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">D</label>
				<div class="col-sm-11">
					<textarea name="D" class="form-control" v-model="answer_d" rows="2" style="overflow-y:scroll;" placeholder="Jawaban D"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="answer5" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">E</label>
				<div class="col-sm-11">
					<textarea name="E" class="form-control" v-model="answer_e" rows="2" style="overflow-y:scroll;" placeholder="Jawaban E"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="key" class="col-sm-1 col-form-label" style="font-family:'Belleza',sans-serif; font-size:25px;">KEY</label>
				<div class="col-sm-11">
					<select class="form-control" v-model="answer_key">
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
					</select>
				</div>
			</div>
		</div>

		<div class="text-center" style="padding-bottom:100px; padding-top:50px;">
			<button type="button" style="background-color:#F48024; color:white;width:100px;font-family:'Belleza',sans-serif;font-size:25px;" class="btn btn-lg" data-toggle="modal" data-target="#saveQuestion"><b>Save</b></button>
			<button type="button" style="width:100px;font-family:'Belleza',sans-serif;font-size:25px;margin-left:20px;" class="btn btn-light btn-lg" v-on:click="printSubject($event)"><b>Empty</b></button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="saveQuestion" tabindex="-1" role="dialog" aria-labelledby="saveQuestion" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="saveQuestion">Are you sure to save question?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					<!-- akan diisi soal dan pilihan jawaban yang telah diisikan -->
					<b-container>
						<b-row>
							<b-col>
								<span>Subject : {{ id_subject }}</span>
							</b-col>
							<b-col>
								<span>Soal : {{ question_text }}</span>
							</b-col>
						</b-row>
					</b-container>
            <div>
              <b>Pilihan Jawaban :</b><br>
              <span>A : {{ answer_a }}</span><br>
							<span>B : {{ answer_b }}</span><br>
							<span>C : {{ answer_c }}</span><br>
							<span>D : {{ answer_d }}</span><br>
							<span>E : {{ answer_e }}</span><br>
							<span>KEY : {{ answer_key }}</span><br>
            </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-info" @click="questionCreate($event)">Yes</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import gql from 'graphql-tag';

	export default {
		name : "Qwriter",
		data() {
			return {
				id_teacher: '',
				id_subject: '',
				id_topic: '',
				id_subtopic: '',
				question_type: '',
				question_scenario: '',
				question_text: '',
				answer_a: '',
				answer_b: '',
				answer_c: '',
				answer_d: '',
				answer_e: '',
				answer_key: '',
				tableTopic: [],
				tableSubtopic: []
			}
		},
		methods : {
			selectedSubject : function(event){
				event.preventDefault();
					this.tableTopic = this.subjectRead[this.subjectRead.map(function(e){return e.id_subject}).indexOf(this.id_subject)].topic;
			},
			selectedTopic : function(event){
				event.preventDefault();
					this.tableSubtopic = this.tableTopic[this.tableTopic.map(function(e){return e.id_topic}).indexOf(this.id_topic)].subtopic;
			},
			printSubject : function (event) {
				event.preventDefault();
				console.log(this.id_teacher, this.id_subject, this.id_topic, this.id_subtopic, this.question_type);
			},
			questionCreate : function (event) {
				event.preventDefault();
				if(!this.id_teacher || !this.id_subject || !this.id_topic || !this.id_subtopic || !this.question_type || !this.question_scenario || !this.question_text || !this.answer_a || !this.answer_b || !this.answer_c || !this.answer_d || !this.answer_e || !this.answer_key) {
					alert('all forms must be filled');
				} else {
					this.$apollo.mutate({
						mutation: gql`mutation questionCreate($form:QuestionForm){
							questionCreate(form:$form)
						}`,
						variables : {
							form : {
										id_teacher : this.id_teacher,
										id_subject : this.id_subject,
										id_topic : this.id_topic,
										id_subtopic : this.id_subtopic,
										question_type : parseInt(this.question_type),
										question_scenario : this.question_scenario,
										question_text : this.question_text,
										answer_a : this.answer_a,
										answer_b : this.answer_b,
										answer_c : this.answer_c,
										answer_d : this.answer_d,
										answer_e : this.answer_e,
										answer_key : this.answer_key,
									}
						}
					}).then((res) => {
						console.log(res);
						if(!res.data.questionCreate){
							alert('question submition failed');
						} else {
							alert('question submitted');
						}
					}).catch((error) => {
						console.log(error);
						alert('failed');
					})
				}
			}
		},
		apollo : {
			subjectRead : {
				query : gql`query {
					subjectRead {
						id_subject
						subject_name
						topic {
							id_topic
							topic_name
							subtopic {
								id
								subtopic_name
							}
						}
					}
				}`
			},
			teacherRead : {
				query : gql`query {
					teacherRead {
						id
						teacher_nip
						teacher_name
					}
				}`
			}
		}
	};
</script>

<style scoped>
	.form-control {
		width: 100% !important;
	}
	.col-form-label {
		padding: 10px 20px !important;
	}
</style>
